<d-splitter
  class="form-designer-drawer"
  style="height: 100vh"
  orientation="vertical"
  [disabledBarSize]="'2px'"
>
  <d-splitter-pane size="40px" minSize="40px" [collapsed]="false" [collapsible]="true">
    <div class="form-designer-drawer-header">
      <d-button
        icon="icon-save"
        bsStyle="primary"
        [style.marginRight]="'12px'"
        [showLoading]="loadingType"
        (btnClick)="save()"
      >
        保存
      </d-button>
      <d-button icon="icon-close" bsStyle="common" (btnClick)="close($event)"> 关闭 </d-button>
    </div>
  </d-splitter-pane>
  <d-splitter-pane style="overflow: auto">
    <div class="form-designer-drawer-content">
      <micro-app-senti-app
        name="senti-app"
        url=""
        default-page="formDesigner"
        destroy
        clear-data
      ></micro-app-senti-app>
    </div>
  </d-splitter-pane>
</d-splitter>
